@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
* {
	margin: 0;
	padding: 0;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/hero/still.png) no-repeat;
    background-size: cover;
}

#back{
	min-width:100%;
	max-width:100%;
	min-height:70vh;
}

#hero{
	background-color:rgba(255,255,255,.95);
	text-align:left;
	width:460px;
	margin-left:auto;
	margin-right:auto;
  margin-top:30vh;
	font-family: 'Lato', sans-serif;
	padding: 20px;
	border-radius: 1%;
}

#continue{
	background-color:rgba(255,255,255,0);
	border: 2px solid white;
	text-align:center;
	width:100px;
	margin-left:auto;
	margin-right:auto;
  	margin-top:150px;
	margin-bottom:50px;
	font-family: 'Lato', sans-serif;
	padding: 15px;
	border-radius: 5%;
	font-size:18px;
	font-weight:300;
	color:#FFF;
}
#continue:hover{
	cursor: pointer;
}
#continue:active{
	background-color:rgba(255,255,255,.5);
}

#title{
	font-size:50px;
	font-weight:300;
	text-align:left;
	color:#313f47;
}

#subtitle{
	max-width:460px;
	min-width:460px;
	font-size:24px;
	font-weight:300;
	text-align:left;
	color:#313f47;
}

#logoCircle{
	display:inline-block;
	background-color: #313f47;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 7%;
}

#heroicon{
	height:50px;
	width:50px;
}

#logoCircle:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

html {
	font-family:'Lato', sans-serif;
}

#tile {
	max-width:700px;
	max-height:250;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	background-color:white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	opacity:.85;

}

#page-wrap {
	width:100%;
	background:rgba(255,255,255,1.00);
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

#page-wrap-all {
	width:100%;
	min-height:100%;
	margin-top:0px;
	background:rgba(255,255,255,1.00);
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	padding-bottom:20px;
}

#spacer{
	width:100%;
	background:rgba(243,243,243,.9);
	height:40px;
}

#about{
	padding-top: 20px;
	width:100%;
	background:rgba(243,243,243,1);
	min-width:480px;
}

#aboutText{
	max-width:720px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 20px;
}

#aboutImage{
	width:100px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	border-radius:7%;
	background: url("../images/me.jpg") center center;
	background-size: 100px 100px;
}

#contentWrapper{
	width:100%;
	background-color: #fff;
}

#content{
	max-width:720px;
	background:rgba(255,255,255,1.00);
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-bottom:10px;
	min-width:480px;
}

#post-home{
	max-width:720px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 8px;
	padding-left: 50px;
	color: black;
}

#post-thumb{
	text-align:left;
	font-size:18px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
}
#readon{
	float:right;
	font-size:18px;
	padding-right:30px;
	padding-left:30px;
}


#open{
	text-align:center;
	color: #FFFFFF;
	font-size:30px;
	width:100%;
	padding-top: 40px;
	padding-bottom:40px;
}

#open a{
	color:#FFFFFF;
}

#allposts{
	text-align:center;
	color: #000000;
	font-size:30px;
	width:100%;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom:10px;
}

#allposts a{
	color:#000000;
	font-weight: 500;
}

#footer{
	background:rgba(255,255,255,1.00);
	width: 100%;
	bottom:0px;
	position:relative;
	height: 100px;
	font-size:20px;
	text-align:center;
	font-family: 'Lato', sans-serif;
}

#footericon{
	height:30px;
	width:30px;
	margin-left:auto;
	margin-right:auto;
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
}

#footericon:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

#footertext{
	color: rgba(0,0,0,1);
}

#date{
	float:left;
	color:#AFAFAF;
	padding-left:30px;
	padding-right:30px;

}

p {
	text-align:left;
	font-size:18px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:10px;
	font-weight: 400;
	color:#4E4E4E;
}

h2{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	font-size: 36px;
	font-weight: 500;
	text-decoration:none;
	color:#000000;
}
h4{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
}

h2 a{
	color:#000000;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

#postimg{
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
}

@media only screen and (max-device-width:800px) {
		html {
	         background: #fff url("../assets/hero/still.png")  no-repeat center center fixed;
			background-size: cover;
	    }
		#hero{
			width: 500px;
		}
		#title{
			font-size: 80px;
		}
		#subtitle{
			font-size:30px;
		}
		#continue{
			background-color: #fff;
			font-weight: 500;
			font-size: 25px;
			margin-top: 400px;
			width:200px;
			color:#313f47;
		}
		#continue:active{
			background-color:rgba(255,255,255,.3);
		}
		#date{
			font-size: 24px;
		}
	    #bgvid {
	        display: none;
	    }
		#aboutImage{
			width: 250px;
			height: 250px;
			background-size: 250px 250px;
		}
		#aboutText{
			max-width:none;
			padding-bottom: 30px;
		}
		#content {
			width: 100%;
			max-width:none;
		}
		#about{
			width: 100%;
			max-width:none;
		}
		#tile{
			width: 100%;
			max-width:none;
		}
		#readon{
			font-size:30px;
		}
		#footer{
			padding-top:40px;
			margin-top: -5px;
			padding-bottom:40px;
			background:rgba(255,255,255,1);
		}
		#footericon{
			height:60px;
			width:60px;
		}
