@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

* {
	margin: 0;
	padding: 0;
}

#back{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position:top;
	background-attachment: fixed;
	min-width:100%;
	max-width:100%;
	min-height:80vh;
}

#hero{
	text-align:center;
	max-width:800px;
	min-width:400px;
	margin-left:auto;
	margin-right:auto;
	padding-top:25vh;
	font-family: 'Lato', sans-serif;
}

#title{
	font-size:60px;
	font-weight:700;
	text-align:center;
	color:rgba(255,255,255,1.00);
}

#subtitle{
	padding-top:10px;
	font-size:24px;
	font-weight:400;
	text-align:center;
	color:rgba(255,255,255,1.00);
}

#heroicon{
	height:50px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px;
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
	
}

#heroicon:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

html {
	font-family:'Lato', sans-serif;
}

#tile {
	max-width:700px;
	max-height:250;
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
	background-color:white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	opacity:.85;
	
}

#page-wrap {
	width:100%;
	background:rgba(202,221,240,.95);
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	padding-bottom:20px;
}

#page-wrap-all {
	width:100%;
	min-height:100%;
	margin-top:0px;
	background:rgba(202,221,240,.95);
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	padding-bottom:20px;
}

#spacer{
	width:100%;
	background:rgba(243,243,243,.9);
	height:40px;
}

#about{
	max-width:720px;
	background:rgba(255,255,255,1.00);
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-bottom:20px;
	min-width:480px;
}
	
#content{
	max-width:720px;
	background:rgba(255,255,255,1.00);
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-bottom:20px;
	min-width:480px;
}

#post-thumb{
	text-align:left;
	font-size:18px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
}
#readon{
	float:right;
	font-size:18px;
	padding-right:30px;
	padding-left:30px;
}


#open{
	text-align:center;
	color: #FFFFFF;
	font-size:30px;
	width:100%;
	padding-top: 40px;
	padding-bottom:40px;
}

#open a{
	color:#FFFFFF;
}

#allposts{
	text-align:center;
	color: #000000;
	font-size:30px;
	width:100%;
	padding-top: 10px;
	padding-bottom:10px;
}

#allposts a{
	color:#000000;
}

#footer{
	background:rgba(202,221,240,.95);
	width: 100%;
	bottom:0px;
	position:relative;
	height: 100px;
	font-size:20px;
	text-align:center;
	font-family: 'Lato', sans-serif;
}

#footericon{
	height:30px;
	width:30px;
	margin-left:auto;
	margin-right:auto;
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
}

#footericon:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

#footertext{
	color: rgba(0,0,0,1);
}

#date{
	float:left;
	color:#AFAFAF;
	padding-left:30px;
	padding-right:30px;

}

p {
	text-align:left;
	font-size:21px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:10px;
	color:#4E4E4E;
}

h2{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	font-size: 30px;
	text-decoration:none;
	color:#000000;
}
h4{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
}

h2 a{
	color:#000000;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;} 

#postimg{
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
}

@media only screen and (max-device-width: 480px) {

		#page-wrap {
			background: rgba(255,255,255,1.00);
		}
		
		#spacer{
			background: rgba(255,255,255,1.00);
		}

		#content {
			width: 100%;
			max-width:none;
		}
		#about{
			width: 100%;
			max-width:none;
		}
		#tile{
			width: 100%;
			max-width:none;
		}
		#back{
			background-image: url(../images/bg_mobile.jpg);
		}
		#readon{
			font-size:30px;
		}
		#heroicon{
			height:90px;
			width:90px;
		}
		#footer{
			padding-top:40px;
			padding-bottom:40px;
			background:rgba(255,255,255,1);
		}
		#footericon{
			height:60px;
			width:60px;
		}
		#title{
			font-size:80px;
		}
