<div id="heroSpacer"></div>
<div id="hero">
	<div id="heroWrapper">
	<div id="heroTitle">[[title]]</div>
  	<div id="heroSubtitle">[[subtitle]]</div>
		<div id="logoCircle"><a href="[[github]]"><img src="images/icons/github_logo.png" alt="github"  id="heroIcon"/></a></div>
        <div id="logoCircle"><a href="[[thingiverse]]"><img src="images/icons/thingiverse_logo.png" alt="thingiverse" id="heroIcon"/></a></div>
        <div id="logoCircle"><a href="mailto:[[email]]"><img src="images/icons/email_logo.png" alt="email" id="heroIcon"/></a></div>
        <div id="logoCircle"><a href="[[resume]]"><img src="images/icons/resume_logo.png" alt="resume" id="heroIcon"/></a></div>
        <div id="logoCircle"><a href="[[linkedin]]"><img src="images/icons/linkedin_logo.png" alt="linkedin" id="heroIcon"/></a></div>
 		<div id="logoCircle"><a href="[[twitter]]"><img src="images/icons/twitter_logo.png"alt="twitter" id="heroIcon"/></a></div>
	</div>
</div>
<div id="continueSpacer"></div>
<div id="continue">Continue</div>
