<div id="hero">
	<div id="title">[[title]]</div>
  	<div id="subtitle">[[subtitle]]</div>
        <div id="logoCircle"><a href="[[github]]"><img src="images/icons/github_logo.png" alt="github"  id="heroicon"/></a></div>
        <div id="logoCircle"><a href="[[thingiverse]]"><img src="images/icons/thingiverse_logo.png" alt="thingiverse" id="heroicon"/></a></div>
        <div id="logoCircle"><a href="mailto:[[email]]"><img src="images/icons/email_logo.png" alt="email" id="heroicon"/></a></div>
        <div id="logoCircle"><a href="[[resume]]"><img src="images/icons/resume_logo.png" alt="resume" id="heroicon"/></a></div>
        <div id="logoCircle"><a href="[[linkedin]]"><img src="images/icons/linkedin_logo.png" alt="linkedin" id="heroicon"/></a></div>
 		    <div id="logoCircle"><a href="[[twitter]]"><img src="images/icons/twitter_logo.png"alt="twitter" id="heroicon"/></a></div>
</div>
<div id="continue">Continue</div>
