<html>
<head>
<meta charset="UTF-8">
<title>[[title]]</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="http://tylerkrupicka.com/images/favicon.png">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '[[google_analytics_id]]']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 </script>


</head>

<body>
<div id="back">
<div id="hero">
	<div id="title">[[title]]</div>
  	<div id="subtitle">[[subtitle]]</div> 
		<a href="[[github]]"><img src="images/icons/github_round.png" alt="github"  id="heroicon"/></a>
		<a href="[[thingiverse]]"><img src="images/icons/thingiverse_round.png" alt="thingiverse" id="heroicon"/></a>
        <a href="mailto:[[email]]"><img src="images/icons/email_round.png" alt="email" id="heroicon"/></a>
        <a href="[[resume]]"><img src="images/icons/resume_round.png" alt="resume" id="heroicon"/></a>
        <a href="[[linkedin]]"><img src="images/icons/linkedin_round.png" alt="linkedin" id="heroicon"/></a>
 		<a href="[[twitter]]"><img src="images/icons/twitter_round.png"alt="twitter" id="heroicon"/></a> 
</div></div>

<div id="page-wrap">
  <div id="spacer"></div>
  <div id="about">
  <h2>About Me</h2>
  <p>[[about]]</p>
  </div>
  
  <div id="content">
    [[post_thumb]]
    <div id="allposts"><a href="[[all_posts]]">All Posts</a></div>
  </div>
</div>
<!-- <div id="spacer"></div> -->
<!--<div id="open"><a href="[[all_posts]]">All Posts</a></div> -->
<div id="footer">
<span style="max-width:480px;" >
		<a href="[[github]]"><img src="images/icons/github_round.png" alt="github"  id="footericon"/></a>
		<a href="[[thingiverse]]"><img src="./images/icons/thingiverse_round.png" alt="thingiverse" id="footericon"/></a>
        <a href="mailto:[[email]]"><img src="./images/icons/email_round.png" alt="email" id="footericon"/></a>
        <a href="[[resume]]"><img src="./images/icons/resume_round.png" alt="resume" id="footericon"/></a>
        <a href="[[linkedin]]"><img src="./images/icons/linkedin_round.png" alt="linkedin" id="footericon"/></a>
 		<a href="[[twitter]]"><img src="./images/icons/twitter_round.png"alt="twitter" id="footericon"/></a>
</span>
<br />
<span style="color:#AFAFAF;">&copy; Tyler Krupicka [[year]]</span></div>

</body>
</html>