<html>
<head>
<meta charset="UTF-8">
<title>[[post_title]]</title>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="http://tylerkrupicka.com/images/favicon.png">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '[[google_analytics_id]]']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 </script>

</head>

<body>

<div id="page-wrap-all">
  <div id="spacer"></div>
  
  <div id="content">
   <h2>[[post_title]]</h2>
    <div id="date">written [[date]]</div>
    [[content]] 
  </div>
</div>

<div id="footer">
<span style="max-width:480px;">
		<a href="[[github]]"><img src="[[url]]/images/icons/github_round.png" alt="github"  id="footericon"/></a>
		<a href="[[thingiverse]]"><img src="[[url]]/images/icons/thingiverse_round.png" alt="thingiverse" id="footericon"/></a>
        <a href="mailto:[[email]]"><img src="[[url]]/images/icons/email_round.png" alt="email" id="footericon"/></a>
        <a href="[[resume]]"><img src="[[url]]/images/icons/resume_round.png" alt="resume" id="footericon"/></a>
        <a href="[[linkedin]]"><img src="[[url]]/images/icons/linkedin_round.png" alt="linkedin" id="footericon"/></a>
 		<a href="[[twitter]]"><img src="[[url]]/images/icons/twitter_round.png"alt="twitter" id="footericon"/></a>
</span>
<br />
<span style="color:#AFAFAF;">&copy; Tyler Krupicka [[year]]</span>
</div>

</body>
</html>