<html>
<head>
<meta charset="UTF-8">
<title>[[post_title]]</title>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="http://tylerkrupicka.com/images/favicon.png">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '[[google_analytics_id]]']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 </script>

</head>

<body>
<div id="nav"> 
<span style="float:left; margin-left: 35; margin-top:9; display:inline-block;"> 
<a href="[[url]]"><img src="../images/icons/name_icon.png" width="32" height="32" alt="home"/></a>
</span> 
<span style="margin-right: 35; margin-top:9; float:right; display:inline-block;"> 
<a href="[[github]]"><img src="../images/icons/github_icon.png" width="32" height="32" alt="github" style="padding-left:8px;"/></a>
<a href="[[thingiverse]]"><img src="../images/icons/thingiverse_icon.png" width="32" height="32" alt="thingiverse" style="padding-left:8px;"/></a>
<a href="[[google+]]"><img src="images/icons/google_icon.png" width="32" height="32" alt="google" style="padding-left:8px;"/></a>
 <a href="[[twitter]]"><img src="../images/icons/twitter_icon.png" width="32" height="32" alt="twitter" style="padding-left:8px;"/></a> 
<a href="mailto:[[email]]"><img src="../images/icons/email_icon.png" width="32" height="32" alt="email" style="padding-left:8px;"/> </span> </div></a>

<div id="page-wrap-all">
  <div id="spacer"></div>
  
  <div id="content">
   <h2>[[post_title]]</h2>
    <div id="date">written [[date]]</div>
    [[content]] 
  </div>
</div>
<div id="spacer"></div>
<div id="footer"><span style="float:right; margin-right:40px; margin-top:15px; color:#AFAFAF">&copy; Tyler Krupicka [[year]]</span></div>
</body>
</html>